<div class="banner-home">
    <div class="banner-home-text-container">
        <div class="banner-home-text-content">
            <h1 class="highlighted-header">Save SaaS Costs</h1>
            <h1>With Automated</h1>
            <h1>Management</h1>
            <h3>You can't manage what you can't see</h3>
            <div class="banner-btn">
                <div class="banner-link-waitlist">
                    <%= link_to "Provide Feedback", "/feedback", class: "feedback-link" %>
                </div>
                <div class="banner-link-solutions">
                    <%= link_to "Solutions", "/#solutions", class: "solutions-link" %>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-home-image">
        <%#= image_tag "backgroundsquare.png", class: "banner-img" %>
        <%= image_tag "bannersquare.png", class: "banner-img" %>
    </div>
</div>

<div class="test-added-value">
    <div class="test-added-value-card avc-container-left">
        <div class="avc-left">
            <h1>30%</h1>
            <p>That`s how much you case save on your software spend</p>
        </div>
    </div>
    <div class="test-added-value-card avc-container-middle">
        <div class="avc-middle">
            <h1>78%</h1>
            <p>That`s how much SaaS management work you can eliminate</p>
        </div>
    </div>
    <div class="test-added-value-card avc-container-right">
        <div class="avc-right">
            <h1>100%</h1>
            <p>That`s how much visibility you can gain about your software stack</p>
        </div>
    </div>
</div>

<div class="container home-solutions">
    <h1 class="solutions-header">Solutions</h1>
    <h3 class="solutions-small-header">A fully automated SaaS management tool</h3>
    <div class="divider"></div>

    <div class="solution-cards">
        <div class="solution-card">
            <h1 class="card-header">The Single Source of Truth for your Apps</h1>
            <div id="solutions"></div>
            <h3 class="card-small-header">Turn chaos into control</h3>
            <div class="benefits">
                <div class="benefits-text">
                    <ul>
                        <li><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i>Easily discovering all SaaS apps in use</li>
                        <li><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i>Automatically keep SaaS stack up-to-date</li>
                        <li><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i>Streamline security and compliance management for all SaaS</li>
                        <li><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i>Manage documents related to vendors, contracts, and invoices</li>
                        <li><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i>Automated reminders for renewal dates</li>
                    </ul>
                </div>
                <div class="benefits-image">
                    <%= image_tag "vendormanagement.png", class: "feature-img" %>
                </div>
            </div>
        </div>
    </div>

    <div class="solution-cards">
        <div class="solution-card">
            <h1 class="card-header">Cut Costs and Eliminate Unused Licenses</h1>
            <h3 class="card-small-header">Identify savings opportunities</h3>
            <div class="benefits">
                <div class="benefits-text">
                    <ul>
                        <li><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i>Identify and eliminate unused and redundant software licenses</li>
                        <li><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i>Collaborative approach to manage SaaS costs effectively</li>
                        <li><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i>Breakdown of costs based on tools, users, and categories</li>
                        <li><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i>Improve overall software license utilization</li>
                    </ul>
                </div>
                <div class="benefits-image">
                    <%= image_tag "costs.png", class: "feature-img" %>
                </div>
            </div>
        </div>
    </div>

    <div class="solution-cards">
        <div class="solution-card">
            <h1 class="card-header">Automate SaaS Procurement Processes</h1>
            <h3 class="card-small-header">Coordinate intake-to-procurement to inefficiencies</h3>
            <div class="benefits">
                <div class="benefits-text">
                    <ul>
                        <li><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i>Minimize the time spent in these approval cycles</li>
                        <li><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i>Ensure standardized SaaS procurement across the organization</li>
                        <li><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i>Automate procurement processes using no-code workflows</li>
                    </ul>
                </div>
                <div class="benefits-image">
                    <%= image_tag "procurement.png", class: "feature-img" %>
                </div>
            </div>
        </div>
    </div>
</div>